
<h1><%= place.name %></h1>
<img src="<%= place.map_url %>" width="300px"/>
<% session[:place_id] = place.id %>
<% if logged_in? %>
<%= binding.pry %>
<%= link_to "Check In", place_taggings_path(place.id), method: :post %>
<% end %>
  