<div>
<h1><%= @place.name %></h1>

<h3>Tags<h3>

<h2><%= tag_counts(@place.tags) %></h2>


<img src="<%= @place.map_url %>" width="300px"/>
<img src="<%= @response.body["url"] %>" width="300px"/>

<% session[:place_id] = @place.id %>
</div>
