<div>
<h1><%= @place.name %></h1>

<h3>Tags<h3>

<div class = "map">
<img src="<%= @place.map_url %>" width="200px"/>
<img src="<%= @response.body["url"] %>"/>
</div>

 <p><%= link_to "Places", "/places" %></p>
<% session[:place_id] = @place.id %>
</div>
